body {
    background-image: url(https://picsum.photos/g/1400/800/?blur);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a:link {

}

a:visited {
    
}

a:hover {
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(82, 82, 82), 0 0 5px black;
}

a:active {
            text-shadow: 1px 1px 2px orange, 2px 2px 25px rgb(124, 23, 23), 0 0 5px red;
}


.linkMove {
    position: relative;
    animation: mymove 1.0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes mymove{
    from {left: 0px;}
    to {left: 50px;}

}

.prog-box{
    width: 500x;
}

.border-footer {
    border-width: 10px !important;
}

@media only screen and (max-width: 640px) {
    #header {
        position: static !important;
    }
}